# compiled output
/dist/

# misc
/.DS_Store
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.cjs
/.git/
/.github/
/.gitignore
/.prettierignore
/.prettierrc.cjs
/create-test-fixture.sh
/CONTRIBUTING.md
/tests/
/tmp/
/yarn-error.log
/yarn.lock
.gitkeep
